html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: sans-serif;
}

.mat-toolbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}
