<mat-toolbar color="primary">
  <button mat-icon-button (click)="open = !open" *ngIf="user">
    <mat-icon>menu</mat-icon>
  </button>
  <span> 協賛広告ヘルパー </span>
  <button mat-button (click)="logout()" *ngIf="user">
    <mat-icon>logout</mat-icon>
    ログアウト
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="open && !!user">
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/members"
        [ngClass]="{ active: segment.includes('members') }"
      >
        <mat-icon>people</mat-icon> 団員
      </a>
      <a
        mat-list-item
        routerLink="/stores"
        [ngClass]="{ active: segment.includes('stores') }"
      >
        <mat-icon>store</mat-icon> 広告先
      </a>
      <a
        mat-list-item
        routerLink="/settings"
        [ngClass]="{ active: segment.includes('settings') }"
      >
        <mat-icon>settings</mat-icon> 設定
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
