<mat-drawer-container>
  <mat-drawer mode="side" position="end" [opened]="!!uid">
    <app-member-detail *ngIf="uid"></app-member-detail>
  </mat-drawer>

  <mat-drawer-content>
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <mat-label>検索</mat-label>
          <input type="text" matInput (input)="applyFilter($event)" />
        </mat-form-field>

        <mat-slide-toggle
          matTooltip="昨年以前に参加し、今年はまだアンケートに回答していない団員も表示します"
          (change)="changeShowInvisible($event)"
        >
          過去の団員も見る
        </mat-slide-toggle>
      </mat-card-content>
    </mat-card>

    <table mat-table [dataSource]="members">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>名前</th>
        <td mat-cell *matCellDef="let member">
          {{ member.name }}
          <mat-icon *ngIf="member.isAdmin" color="primary" inline
            >verified</mat-icon
          >
        </td>
      </ng-container>

      <ng-container matColumnDef="currentAddress">
        <th mat-header-cell *matHeaderCellDef>住所<br />帰省先</th>
        <td mat-cell *matCellDef="let member">
          <p>
            {{ member.currentAddress }} <br />
            {{ member.homeAddress }}
          </p>
        </td>
      </ng-container>

      <mat-text-column name="job" headerText="バイト"></mat-text-column>

      <ng-container matColumnDef="stores">
        <th mat-header-cell *matHeaderCellDef>担当</th>
        <td mat-cell *matCellDef="let member">
          <ul>
            <li
              *ngFor="let store of member.stores"
              (click)="stopPropagation($event)"
            >
              <a routerLink="/stores/{{ store.id }}">
                {{ store.name }}
              </a>
            </li>
          </ul>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: columns"
        (click)="openDetails(row.uid)"
        [ngClass]="{ active: row.uid === uid }"
      ></tr>
    </table>
  </mat-drawer-content>
</mat-drawer-container>
