@use "@angular/material" as mat;

table {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

[mat-row] {
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: map-get(mat.$grey-palette, 50);
  }

  &.active {
    background-color: map-get(mat.$deep-purple-palette, 50);
  }
}

mat-drawer {
  position: fixed;
  top: 64px;
}
