<mat-drawer-container>
  <mat-drawer mode="side" position="end" [opened]="!!uid">
    <app-member-detail *ngIf="uid"></app-member-detail>
  </mat-drawer>

  <mat-drawer-content>
    <table mat-table [dataSource]="members">
      <mat-text-column name="name" headerText="名前"></mat-text-column>

      <ng-container matColumnDef="currentAddress">
        <th mat-header-cell *matHeaderCellDef>住所<br />帰省先</th>
        <td mat-cell *matCellDef="let member">
          <p>
            {{ member.currentAddress }} <br />
            {{ member.homeAddress }}
          </p>
        </td>
      </ng-container>

      <mat-text-column name="job" headerText="バイト"></mat-text-column>

      <ng-container matColumnDef="stores">
        <th mat-header-cell *matHeaderCellDef>担当</th>
        <td mat-cell *matCellDef="let member">
          <ul>
            <li *ngFor="let store of member.stores">
              <a routerLink="/stores/{{ store.id }}">
                {{ store.name }}
              </a>
            </li>
          </ul>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: columns"
        (click)="openDetails(row.uid)"
        [ngClass]="{ active: row.uid === uid }"
      ></tr>
    </table>
  </mat-drawer-content>
</mat-drawer-container>
