@use "@angular/material" as mat;

h1 {
  white-space: pre-line;
  line-height: 1.3rem;
}

mat-toolbar {
  display: flex;
  .left {
    flex: 1;
  }
}

p[matLine].wrap {
  white-space: pre-line;
}

p.empty {
  color: map-get(mat.$grey-palette, 500);
}
