<mat-toolbar color="primary">
  <mat-icon>
    {{ store ? "store" : "pending" }}
  </mat-icon>
  &nbsp;
  <div class="left">
    <h1>{{ store?.name ?? "読み込み中" }}</h1>
  </div>
</mat-toolbar>

<google-map
  *ngIf="store?.address && !loading && location"
  width="100%"
  height="25vh"
  [center]="location"
  [options]="{
    clickableIcons: false,
    mapTypeControl: false,
    streetViewControl: false
  }"
>
  <map-marker [position]="location"></map-marker>
</google-map>

<mat-list>
  <h2 matSubheader>情報</h2>
  <mat-list-item>
    <mat-icon matListIcon>{{ store?.status | statusIcon }}</mat-icon>
    <p matLine>{{ store?.status }}</p>
  </mat-list-item>
  <mat-list-item *ngIf="store?.comment">
    <mat-icon matListIcon>info</mat-icon>
    <p matLine>
      {{ store?.comment }}
    </p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListIcon>currency_yen</mat-icon>
    <p matLine>
      {{ store?.amount | number }}
    </p>
  </mat-list-item>
  <mat-list-item *ngIf="store?.draft">
    <mat-icon matListIcon>panorama</mat-icon>
    <p matLine>
      {{ store?.draft }}
    </p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListIcon>notes</mat-icon>
    <p matLine class="wrap">
      {{ store?.notes }}
    </p>
  </mat-list-item>
</mat-list>

<mat-action-list [disabled]="!store">
  <h2 matSubheader>アクション</h2>
  <button mat-list-item>
    <mat-icon matListIcon>phone</mat-icon>
    <p matLine>電話をかける</p>
    <small matLine>{{ store?.tel }}</small>
  </button>
  <button mat-list-item *ngIf="store?.altTel">
    <mat-icon matListIcon>phone</mat-icon>
    <p matLine>電話をかける</p>
    <small matLine>{{ store?.altTel }}</small>
  </button> </mat-action-list
><mat-nav-list>
  <a
    mat-list-item
    *ngIf="store?.address"
    target="_blank"
    href="https://www.google.com/maps/search/?api=1&query={{ store?.name }}&query_place_id={{
      placeId
    }}"
  >
    <mat-icon matListIcon>pin_drop</mat-icon>
    <p matLine>Googleマップで開く</p>
    <small matLine>
      {{ store?.address }}
    </small>
  </a> </mat-nav-list
><mat-action-list>
  <button mat-list-item>
    <mat-icon matListIcon>edit</mat-icon>
    <p matLine>情報を登録・編集する</p>
  </button>
</mat-action-list>
