@use "sass:map";
@use "@angular/material" as mat;

nav {
  display: flex;
  border-top: 1px solid map.get(mat.$m2-grey-palette, 300);
  background-color: map.get(mat.$m2-grey-palette, 50);
}

a {
  text-decoration: none;
  font-size: 0.8rem;
  flex-grow: 1;
  text-align: center;
  color: map.get(mat.$m2-grey-palette, 800);
  height: 64px;
  padding-top: 0.6rem;
  box-sizing: border-box;

  mat-icon {
    display: block;
    margin: auto;
  }
}
