<mat-card>
  <h2 mat-card-title>
    メンバーを編集
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  </h2>

  <mat-card-content>
    <form [formGroup]="memberForm" id="member-editor" (ngSubmit)="save()">
      <mat-form-field>
        <mat-label>名前</mat-label>
        <input matInput formControlName="name" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>学生番号</mat-label>
        <input matInput formControlName="studentNumber" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>バイト先</mat-label>
        <input matInput formControlName="job" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>住所</mat-label>
        <input matInput formControlName="currentAddress" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>帰省先</mat-label>
        <input matInput formControlName="homeAddress" />
      </mat-form-field>

      <div formGroupName="commute" id="commute-list">
        <mat-checkbox
          *ngFor="let option of commuteOptions"
          [formControlName]="option"
          ngDefaultControl
        >
          {{ option }}
        </mat-checkbox>
      </div>

      <mat-form-field>
        <mat-label>コメント</mat-label>
        <textarea matInput formControlName="comment" rows="3"></textarea>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <a routerLink="/members" mat-stroked-button>
      <mat-icon>arrow_back</mat-icon>
      キャンセル
    </a>
    <button
      mat-stroked-button
      color="primary"
      type="submit"
      form="member-editor"
      [disabled]="!memberForm.valid || loading"
    >
      <mat-icon>save</mat-icon>
      保存
    </button>
  </mat-card-actions>
</mat-card>
