<mat-card>
  <mat-card-content>
    <mat-form-field>
      <mat-label>検索</mat-label>
      <input matInput type="search" autocomplete="off" [formControl]="filter" />
      <button
        *ngIf="filter.value"
        matSuffix
        mat-icon-button
        (click)="filter.reset()"
        matTooltip="クリア"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <app-status-selector
      (choose)="filter.patchValue($event)"
    ></app-status-selector>

    <mat-slide-toggle (change)="updateVisibility($event)">
      非表示の広告先も見る
    </mat-slide-toggle>

    <button
      mat-raised-button
      color="primary"
      title="広告先を追加"
      (click)="add()"
    >
      <mat-icon>add</mat-icon>
      追加
    </button>
  </mat-card-content>
</mat-card>

<table mat-table [dataSource]="stores" matSort>
  <ng-container matColumnDef="needAttention">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>優先</th>
    <td mat-cell *matCellDef="let store" (click)="susupendNavigation($event)">
      <mat-checkbox
        [checked]="store.needAttention"
        (change)="attention(store, $event)"
      ></mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>店名</th>
    <td mat-cell *matCellDef="let store">{{ store.name }}</td>
  </ng-container>
  <mat-text-column name="address" headerText="住所"></mat-text-column>
  <ng-container matColumnDef="assigned">
    <th mat-header-cell *matHeaderCellDef>担当者</th>
    <td mat-cell *matCellDef="let store" (click)="susupendNavigation($event)">
      <a routerLink="/members" [queryParams]="{ n: store.assigned.uid }">
        {{ store.assigned?.name }}
      </a>
    </td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>状態</th>
    <td mat-cell *matCellDef="let store">
      <mat-icon [matTooltip]="store.status" matTooltipPosition="after">{{
        store.status | statusIcon
      }}</mat-icon>
    </td>
  </ng-container>
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>金額</th>
    <td mat-cell *matCellDef="let store">
      {{ store.amount | currency: "JPY" }}
    </td>
  </ng-container>
  <ng-container matColumnDef="last">
    <th mat-header-cell *matHeaderCellDef>昨年実績</th>
    <td mat-cell *matCellDef="let store">
      <a routerLink="/members" [queryParams]="{ n: store.last?.uid }">
        {{ store.last?.name }}
      </a>
      <br />
      {{ store.last?.amount | currency: "JPY" }}
    </td>
  </ng-container>
  <ng-container matColumnDef="draft">
    <th mat-header-cell *matHeaderCellDef>原稿</th>
    <td mat-cell *matCellDef="let store">
      {{ store.draft }}
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>操作</th>
    <td mat-cell *matCellDef="let store" (click)="susupendNavigation($event)">
      <button
        mat-icon-button
        color="primary"
        (click)="edit(store)"
        matTooltip="編集"
        matTooltipPosition="after"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: columns"
    [ngClass]="{ invisible: !row.visible }"
    routerLink="/stores/{{ row.id }}"
  ></tr>
</table>
