@use "sass:map";
@use "@angular/material" as mat;

#container {
  display: grid;
  grid-template-columns: minmax(35vw, 500px) 1fr;
  grid-template-rows: calc(100vh - 64px - 2rem);
  grid-gap: 1rem;
  margin: 1rem;
}

mat-card-content {
  max-height: 100%;
  overflow: auto;
}

mat-card-actions {
  display: flex;
  [mat-button] {
    margin-right: 0.5rem;
  }
  .left {
    flex-grow: 1;
  }
}

[matListItemLine] {
  display: flex;
  .left {
    flex-grow: 1;
    color: map.get(mat.$m2-grey-palette, 700);
  }
}

table {
  width: 100%;
}

.store-link {
  display: block;
}

mat-form-field {
  width: 100%;
}

.mat-column-currentAddress {
  max-width: 10rem;
}
