name: SonarCloud

on:
  push:
    branches:
      - master
    paths:
      - "functions/**"
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  scan:
    name: Functions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: npm
          cache-dependency-path: functions/package-lock.json

      - run: npm ci && npm run test -- --coverage
        working-directory: functions/

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v7
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          projectBaseDir: functions/
