name: SonarCloud

on:
  push:
    branches:
      - master
    paths:
      - "client/**"
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  scan:
    name: Client
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: npm
          cache-dependency-path: client/package-lock.json

      - name: Cache firebase emulators
        uses: actions/cache@v5
        with:
          path: ~/.cache/firebase/emulators
          key: ${{ runner.os }}-firebase-emulators-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-firebase-emulators-

      - name: Setup Firebase CLI
        run: curl -sL https://firebase.tools | bash

      - name: Switch to Java 25
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25

      - name: Install dependencies
        run: npm i
        working-directory: client/

      - name: Store credentials
        run: echo '${{ secrets.FIREBASE_SERVICE_ACCOUNT_KOUKOKUTORI }}' > credentials.json

      - name: Test and coverage
        run: firebase emulators:exec --project koukokutori "npm run test:ci --prefix client"
        env:
          GOOGLE_APPLICATION_CREDENTIALS: ${{ github.workspace }}/credentials.json

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v7
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          projectBaseDir: client/
